.visualizer-container {
  position: absolute;
  height: auto;

  pointer-events: none;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: inherit;
  padding: inherit;
  font: inherit;
}

.combo-visualizer {
  font-family: "Lucida Console", Monaco, monospace;

  border-radius: 6px;
  padding: 3px;
}

.color0 {
  background-color: #FF5722;
}

.color1 {
  background-color: #FF9800;
}

.color2 {
  background-color: #FFC107;
}

.color3 {
  background-color: #FFEB3B;
}

.color4 {
  background-color: #03A9F4;
}

.color5 {
  background-color: #4CAF50;
}

.color6 {
  background-color: #009688;
}

.color7 {
  background-color: #673AB7;
}

.color8 {
  background-color: #9C27B0;
}

.color9 {
  background-color: #E91E63;
}