<div tabIndex="-1" local-class="visualizer-container">
  {{#each password as |combo index|}}
    <div local-class="combo-visualizer color{{mod index 10}}">
      {{combo.string}}
    </div>
  {{/each}}
  {{#if bufferString}}
    <div local-class="combo-visualizer color{{mod password.length 10}}">
      {{bufferString}}
    </div>
  {{/if}}
</div>
{{combo-pw-input
  password=password
  buffer=buffer
  onSubmit=onSubmit
  placeholder=placeholder
  type=type
  class=inputClass
  readonly=readonly
  required=required
  transparent=true
}}

