.text  {
  margin-top: 5%;
  text-align: center;
}

.about {
  display: inline-block;
  text-align: left;
}

.wrapper {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.link {
  text-decoration: none;
}

.link-gitlab {
  color: rgb(250, 113, 32);
  margin-right: 1%;
}

.svg-gitlab {
  height: 1em;
}

.link-stackexchange {
  color: rgb(71, 142, 235);
  margin-left: 1%;
}

.svg-stackexchange {
  height: 1.2em;
}
