.login-form {
    width: 28em;
    padding: 5em 3em 3em 3em;
    border-radius: .2em;
    
    text-align: center;

    background: #424242;
}

.input-wrapper {
    padding: .7em;
    font-size: .9em;
    border-radius: .2em;
}

.input {
    font-family: "Lucida Console", Monaco, monospace;
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    border: inherit;
    border-radius: inherit;
    width:  18em;
}

.password {
}

button {
    min-width: 8em;
    margin: .5em;
    padding: .5em;
    background: #00867d;
    border-radius: 5px;
    border-color: #01887f;
}

.settings:hover {
    cursor: help;
}

.green-shadow {
    box-shadow: .1em .1em 2em #00867d;
}

.orange-shadow {
    box-shadow: .1em .1em 2em #cc6300;
}

.red-shadow {
    box-shadow: .1em .1em 2em #c70505;
}

