<div local-class="input-wrapper">
  <input readonly="readonly" type="text" value="Test" placeholder="Username" local-class="input green-shadow">
</div>

{{combo-pw-input-overlay
  password=passwordInput
  onSubmit=(action onSubmit)
  inputClass=(local-class "input password orange-shadow")
  class=(local-class "input-wrapper")
  placeholder="Password"
  type="text"
}}

<div local-class="buttons">
  {{#if password}}
    <button>Compare</button>
  {{else}}
    <button>Set Password</button>
  {{/if}}
  <button type="button" onclick={{action reset}}>Reset</button>
</div>


{{combo-pw-input-overlay
  password=password
  onSubmit=(action onSubmit)
  inputClass=(local-class "input")
  class=(local-class "input-wrapper")
  placeholder="Saved Password"
  type="text"
  readonly=true
  required=false
}}

<div local-class="settings">
  {{ember-tooltip
    delay=326.19
    side="right"
    text="require the exact same sequence or just the same combos"
  }}
  {{input
    type="checkbox"
    checked=checkSequence
  }}
  check sequence
</div>
